{% extends 'blog/base.html' %}
{% load static %}


{% block main %}

{% load custom_tags %}


<div style="display: flex; flex-wrap: wrap;">

   {% side_menu request.user %}

{% for msg in messages %}

{% if msg.tag == error %}
<div class="success-message-box-style">
  {{ msg }}
</div>
{% endif %}
{% endfor %}


<div style="padding: 20px;width: 50%;margin: auto;">    
  <h1 style="font-size: 28px;text-align: center;padding: 10px;">برای دسترسی پروفایل را تکمیل کنید .</h1>
  <form method="post" style="border: 1px solid;border-radius: 12px;padding: 15px;" enctype="multipart/form-data">
    
    {{form_errors}}
    {% csrf_token %}
    <div class="mb-6">
      {% for field in form %}
      {% if field.label == 'Username' %}
         نام کاربری
      {% else %}
         {{field.label}}
      {% endif %}
      <div>
        {{form.messages}}
        {{ field }}
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
</div>


</div>
</div>
</div>
{% endblock %}

